[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group CUE Admins
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group CUE Approvers
	label-Verified = -1..+1 group user/Paul Jolly (myitcv)
	push = group user/Paul Jolly (myitcv)
	read = group user/Paul Jolly (myitcv)
	rebase = group user/Paul Jolly (myitcv)
	removeReviewer = group user/Paul Jolly (myitcv)
	submit = group user/Paul Jolly (myitcv)
[access "refs/heads/*"]
	create = group user/Paul Jolly (myitcv)
	push = +force group user/Paul Jolly (myitcv)
	pushMerge = group user/Paul Jolly (myitcv)
	read = group user/Paul Jolly (myitcv)
[access "refs/tags/*"]
	push = group user/Paul Jolly (myitcv)
	push = +force group user/Paul Jolly (myitcv)
